@page
@model Real_EstateV2.Pages.Entity.DrugacijeModel
@{
}

<form asp-controller="Entity" asp-action="Drugacije" method="post">
    <input type="text" name="Input"/>
    <input type="submit" value="Add"/>
</form>